In [16]:
import pandas as pd
import numpy as np
np.random.seed(42)

from matplotlib import pyplot
%matplotlib inline

import matplotlib as mpl
import matplotlib.pyplot as plt
import matplotlib.font_manager as fm

mpl.rcParams['axes.unicode_minus'] = False
mpl.rc("font", family = "Malgun Gothic")

In [17]:
df = pd.read_excel('/content/preprocessing_data.xlsx')
df['서울시 구'].unique()

array(['송파구', '구로구', '금천구', '강서구', '종로구', '은평구', '강동구', '강남구', '마포구',
       '노원구', '광진구', '중구', '성동구', '성북구', '관악구', '서대문구', '용산구', '서초구',
       '동작구', '동대문구', '영등포구', '도봉구', '중랑구', '양천구', '강북구'], dtype=object)

In [18]:
new_df=df.to_numpy()

In [19]:
gu_list = df['서울시 구'].unique()
# gu_list = gu_list[:-1]
print(gu_list)
print(len(gu_list))

['송파구' '구로구' '금천구' '강서구' '종로구' '은평구' '강동구' '강남구' '마포구' '노원구' '광진구' '중구'
 '성동구' '성북구' '관악구' '서대문구' '용산구' '서초구' '동작구' '동대문구' '영등포구' '도봉구' '중랑구'
 '양천구' '강북구']
25

In [20]:
# result = [] 

total_gagu_list = [0]*25 
gagu_list = [0]*25 
size_list = [0]*25 
death_list = [0]*25 
shleter_list = [0]*25 
hospital_list = [0]*25 

gu_num = 0

for gu in gu_list:
  # print('gu: ',gu)
  total_gagu = 0
  gagu = 0
  size = 0
  death = 0
  hospital = 0
  shleter = 0
  for i in range(len(df)):

    if new_df[i][2]== gu: # 구
      gagu = new_df[i][5]# 반려동물 가구수 (구)
      size +=  new_df[i][7]# 면적
      death += new_df[i][9] # 폐사안락사수
      hospital += new_df[i][5] # 동물병원약국개수
      total_gagu = new_df[i][3] # 가구원수 (구)
      shleter += new_df[i][10] # 보호소수
  
  print('size: ',size)
  gagu_list[gu_num] = gagu
  size_list[gu_num] = size
  death_list[gu_num] = death
  hospital_list[gu_num] = hospital
  shleter_list[gu_num] = shleter
  total_gagu_list[gu_num] = total_gagu

  gu_num += 1

print(len(gu_list),len(gagu_list),len(size_list),len(death_list),len(hospital_list), len(total_gagu_list),len(shleter_list))

size:  33.879999999999995
size:  20.119999999999997
size:  13.02
size:  41.440000000000005
size:  23.910000000000004
size:  29.699999999999996
size:  24.58
size:  39.51
size:  23.85
size:  35.44
size:  17.06
size:  9.959999999999999
size:  16.860000000000003
size:  24.569999999999997
size:  29.570000000000004
size:  17.63
size:  21.859999999999996
size:  46.99999999999999
size:  16.35
size:  14.209999999999999
size:  24.550000000000004
size:  20.650000000000002
size:  18.500000000000004
size:  17.41
size:  23.6
25 25 25 25 25 25 25

In [21]:
print(gagu_list)
print(size_list)
print(death_list)
print(total_gagu_list)
print(shleter_list)

[55245.456, 31996.185, 18514.328, 49795.788, 11858.418, 35266.735, 34012.416, 44690.262, 34707.096, 48241.41, 31053.24, 10522.763, 23337.526, 31081.18, 41327.194, 26356.176, 20769.938, 33722.568, 35398.626, 23758.934, 35726.02, 25854.486, 31647.744, 35035.284, 24792.755]
[33.879999999999995, 20.119999999999997, 13.02, 41.440000000000005, 23.910000000000004, 29.699999999999996, 24.58, 39.51, 23.85, 35.44, 17.06, 9.959999999999999, 16.860000000000003, 24.569999999999997, 29.570000000000004, 17.63, 21.859999999999996, 46.99999999999999, 16.35, 14.209999999999999, 24.550000000000004, 20.650000000000002, 18.500000000000004, 17.41, 23.6]
[369, 6, 0, 0, 243, 0, 123, 0, 256, 233, 270, 133, 0, 411, 229, 0, 0, 5, 140, 589, 0, 239, 0, 0, 418]
[255766, 164083, 103432, 244097, 63414, 190631, 177148, 208833, 160681, 202695, 143765, 55093, 122186, 179660, 248959, 133112, 95714, 156123, 167766, 150373, 162391, 127362, 164832, 166044, 129805]
[26, 5, 0, 0, 16, 0, 18, 0, 16, 19, 15, 11, 0, 20, 21, 0, 0, 3, 15, 14, 0, 14, 0, 0, 13]

In [22]:
# calculate density
animal_d = [0]*25
shleter_d = [0]*25
death_d = [0]*25
hospital_d = [0]*25

for i in range(len(size_list)):
  animal_d[i] = gagu_list[i] / size_list[i] # 반려동물 가구밀도
  shleter_d[i] = shleter_list[i] / size_list[i]# 보호소 밀도
  death_d[i] = death_list[i]/size_list[i]# 폐사안락사 비율 
  hospital_d[i] = hospital_list[i]/size_list[i]# 동물병원약국 밀도 

print(hospital_d)

[44026.78016528926, 25444.282306163026, 14219.91397849463, 24032.716216216202, 8431.330238393979, 18998.91447811448, 24907.383563873056, 24884.478967350035, 23283.58641509434, 25863.05840857789, 27303.552168815942, 15847.534638554222, 23531.313285883753, 25300.105820105826, 29349.71504903619, 20929.46477595008, 15202.150411710893, 12915.026042553187, 32475.803669724763, 23407.816748768477, 26194.230549898166, 17528.46508474576, 27371.021837837834, 36222.57966685812, 13657.026059322034]

In [23]:
import csv

fields = ['서울시 구','면적', '반려동물 가구밀도','폐사안락사 비율','보호소 밀도','동물병원약국개수','동물병원약국밀도']
new_row = []   

for i in range(len(gu_list)):
    line = []              
    line.append(gu_list[i])
    line.append(size_list[i])
    line.append(animal_d[i])
    line.append(death_d[i])
    # line.append(shleter_list[i])
    line.append(shleter_d[i])
    line.append(hospital_list[i])
    line.append(hospital_d[i])

    new_row.append(line)


print(len(gu_list),len(size_list),len(animal_d),len(death_d),len(shleter_d), len(hospital_list),len(hospital_d))

with open('test.csv', 'w', newline='') as f:
    writer = csv.writer(f)
    writer.writerow(fields)
    writer.writerows(new_row)

25 25 25 25 25 25 25